

{% extends 'partials/base.html.twig' %}
{% do assets.add('theme://js/lightbox.min.js') %}
{% set imgpath = pages.find(page.route ~ '/img') %}

{%block socialtags %}
<meta property="og:image" content="{{ uri.base }}{{ imgpath.media['header.jpg'].url(true) }}"/>
<meta name="twitter:image" content="{{ uri.base }}{{ imgpath.media['header.jpg'].url(true) }}">
{% endblock %}

{% block content %}

<div class="img-bar" style="background-image: url({{ imgpath.media['header.jpg'].colorize(10,10,10).contrast(10).smooth(10).smooth(10).smooth(10).smooth(10).smooth(10).url }});"> 
  	{% if page.taxonomy.tag %}
  	<div class="container">
    <div class="categories">
        {% for tag in page.taxonomy.tag %}
        	{% if tag == "wp" %} <i class="fa fa-windows" data-toggle="tooltip" data-placement="bottom" title="Windows Phone"></i> {% endif %}
        	{% if tag == "game" %} <i class="fa fa-gamepad" data-toggle="tooltip" data-placement="bottom" title="Juego"></i> {% endif %}
        	{% if tag == "web" %} <i class="fa fa-globe" data-toggle="tooltip" data-placement="bottom" title="Web"></i> {% endif %}
        	{% if tag == "android" %} <i class="fa fa-android" data-toggle="tooltip" data-placement="bottom" title="Android"></i> {% endif %}
        	{% if tag == "ios" %} <i class="fa fa-apple" data-toggle="tooltip" data-placement="bottom" title="iOS"></i> {% endif %}
        {% endfor %}
    </div>
    </div>
    {% endif %}
  </div>

<div class="container">
<section class="app-info">
      <div class="container">
        <h2 class="hidden-md hidden-lg hidden-sm">{{ page.header.title }}</h2>
        <div class="row">
           <div class="side-info col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <img src="{{ imgpath.media['icon.png'].url }}" alt="{{ page.header.title }} icon" class="icon img-responsive">
              <div style="float:left;margin-right:20px;">
                <ul class="post-meta">
                  {% if page.header.category %}<li><span class="post-meta-key">Categoría:</span> {{ page.header.category }}</li>{% endif %}
                  {% if page.header.platforms %}<li><span class="post-meta-key">Plataformas:</span>{{ page.header.platforms }}</li>{% endif %}
                  {% if page.header.published %}<li><span class="post-meta-key">Publicado:</span> {{ page.header.published }}</li>{% endif %}
                  {% if page.header.technology %}<li><span class="post-meta-key">Tecnología:</span> {{ page.header.technology }}</li>{% endif %}
                </ul>
              </div>

              {% if page.header.colabo %}
              <div style="float:left;">
                <ul class="post-meta">
                    <li><span class="post-meta-key">Colaboración con:</span> 
                    {{ page.header.colabo }}
                      
                        <img src="{{ imgpath.media['colabo.png'].url }}" class="responsive-img no-margin no-float" alt="{{page.header.colabo}}" />
                    </li>
                 </ul>  
              </div>
                  {% endif %}
           </div>
           <div class="description col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <h2 class="hidden-xs">{{ page.header.title }}</h2>
            {{ page.content }}

            {%if page.header.links%}
            <br/>
        	<div class="app-links">
        		{%if page.header.links.appstore%}<a class="button apple" href="{{page.header.links.appstore}}" target="_blank"><i class="fa fa-apple"></i> App Store</a>{%endif%}
        		{%if page.header.links.googleplay%}<a class="button android" href="{{page.header.links.googleplay}}" target="_blank"><i class="fa fa-android"></i> Google Play</a>{%endif%}
        		{%if page.header.links.windowsphone%}<a class="button windows" href="{{page.header.links.windowsphone}}" target="_blank"><i class="fa fa-windows"></i> Windows Phone</a>{%endif%}
        		{%if page.header.links.website%}<a class="button website" href="{{page.header.links.website}}" target="_blank" style="background-color:{{page.header.bg_color}};color:{{page.header.text_color}}"><i class="fa fa-home"></i> Sitio web</a>{%endif%}
        		{%if page.header.links.facebook%}<a class="button facebook" href="{{page.header.links.facebook}}" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a>{%endif%}
        		{%if page.header.links.github%}<a class="button github" href="{{page.header.links.github}}" target="_blank"><i class="fa fa-github"></i> Github</a>{%endif%}
        	</div>
            {%endif%}
           </div>
        </div>
       
    </div>
</section>
</div>

{% if page.media.images %}
<section class="gallery">

    <div class="container">
      <h2 class="text-center">Galería</h2><br>
      <div class="row">
      {% for image in page.media.images %}
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
      <a href="{{ image.url }}" data-lightbox="Screenshots" data-title="{{ page.header.title }}"><img class="img-thumbnail" src="{{ image.cropZoom(250,250).url }}" alt="{{ page.header.title }}"></a></div>
      {% endfor %}

   
      </div>
      </div>
    </section>
{%endif%}

{% endblock %}