<nav class="navbar {%if not page.header.float_header and not float_header %}navbar-fixed-top{% endif %}" id="navigation" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="{%if not page.header.float_header %}{{ base_url }}/{% else %}#top{% endif %}"><img src="{{ base_url  }}/user/pages/imgs/logo-mini.png"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{%if not page.header.float_header %}{{ base_url }}/{% endif %}#home" class="page-scroll">servicios</a></li>
        <li><a href="{%if not page.header.float_header %}{{ base_url }}/apps{%else%}#works{% endif %}" class="page-scroll">portfolio</a></li>
        <li><a href="{%if not page.header.float_header %}{{ base_url }}/{% endif %}#campus" class="page-scroll">campus</a></li>
        <li><a href="{%if not page.header.float_header %}{{ base_url }}/{% endif %}#contact" class="page-scroll">contacta</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-icon twitter" href="https://twitter.com/ChaoticKingdoms" target="_blank"><i class="fa fa-twitter" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Visítanos en Twitter!"></i><span class="hidden-md hidden-lg hidden-sm">@ChaoticKingdoms</span></a></li>
      </ul>
      
    </div><!--/.nav-collapse -->
  </div>
</nav>